/*Media Query for STEPS*/
@media (max-width: 767px) {
  .step-row {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  /*.step-heading {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
  }

  .step-description {
    padding-left: 15px;
  }*/
  .col-xs-12 > h2 { font-size: 20px; }
}