{% extends "layouts/master.html" %}

{% block contents %}
    <div class="row">
        <div class="jumbotron text-center" style="background: #ff9800 url(./images/banner-1.jpg) no-repeat fixed center center;background-size: cover;height: 600px;border-radius: 0;">
            <div class="container">
                <div class="row hero">
                    <div class="hero-content" style="color: #fff">
                        <h1 style="text-transform: capitalize; margin-bottom: -10px;">got a car</h1>
                        <p>SmartCarService</p>
                        <h2 class="rw-sentence hidden-xs">
                          <span>MotorZo is a smart car service that removes all hassles associated with car service. We give your car the best treatment there is</span> <br>
                          <span class="negpadding">motorzo is</span>
                          <div class="rw-words rw-words-1">
                            <span>trusthworthy</span>
                            <span>convenient</span>
                            <span>smart</span>
                            <span>easy</span>
                          </div>
                        </h2>
                        <p class="visible-xs">MotorZo is a smart car service that removes all hassles associated with car service. We give your car the best treatment there is</p>
                        <a href="#" class="btn btn-success" style="margin-top: 60px; padding: 15px 50px;letter-spacing: 2px">Get A Quote</a>
                        <a href="#" style="text-decoration: none">
                            <p style="margin-top: 40px; margin-bottom: 0;">Find Out More</p>
                            <i class="glyphicon glyphicon-menu-down large"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 row-header">
            <h2>how does it work</h2>
        </div>
        <div class="col-sm-6 col-md-6 hidden-xs" style="padding-top: 5%;padding-bottom: 5%">
            <img src="./images/try.png" alt="" class="img-responsive" style="margin-left: 100px">
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12 step-row">
    <div class="row">
      <div class="col-xs-1 step-number">1</div>
      <div class="col-xs-10">
        <h3 class="step-heading normal">Identify issues</h3>
        <p class="step-description small">Enter your car details, identify car issues with our diagnostic tool or simply tell us your issue.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1 step-number">2</div>
      <div class="col-xs-10">
        <h3 class="step-heading normal">GET MULTIPLE ESTIMATES ONLINE</h3>
        <p class="step-description small">Get estimates from quality certified service stations near you. Choose the one you like based on the ratings and reviews.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1 step-number">3</div>
      <div class="col-xs-10">
        <h3 class="step-heading normal">Relax</h3>
        <p class="step-description small">Stay updated, get your car picked and dropped and pay with ease. You can even get things done at your doorstep. All from your phone!</p>
      </div>
    </div>
  </div>
    </div>

    <div class="row row-header">
        <div class="container">
            <div class="row text-center">
        <div class="col-md-4 col-md-offset-0 col-xs-6 bars">
            <span class="glyphicon glyphicon-star"></span>
            <strong>4.7</strong>
            <label>Average Customer Rating</label>
            <p>They can't be wrong</p>
        </div>
        <div class="col-md-4 col-md-offset-0 col-xs-6 bars">
          <span class="glyphicon glyphicon-map-marker"></span>
          <strong>112</strong>
          <label>Service Centers</label>
          <p class="alignSmall">All Quality Certified</p>
        </div>
        <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 bars">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <strong>6027</strong>
          <label>Fans</label>
          <p>Many More To Come</p>
        </div>
      </div>
        </div>
    </div>

    <div class="why-row">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <h2 style="color: #111">why choose motorzo</h2>
        </div>
      <div class="col-xs-12 col-sm-6">
        <div class="service-content">
          <h3 class="normal">power of choice</h3>
          <p class="small">Choose your own service station based on multiple ratings and estimates. All the service stations you see on our platform have been quality certified to meet the highest standards!</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="service-content">
          <h3 class="normal">100% transparency</h3>
          <p class="small">All our services are based according to manufacturer norms and we will tell you what is required for your car. From pricing to details of the service stations; we hide nothing form you.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 marTop">
        <div class="service-content">
          <h3 class="normal">smart and simple</h3>
          <p class="small">We offer an interface that gets you more with less clicks. Identify car issues yourself and let our smart algorithm find the service station that is best based on your repair, car and location!</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 marTop">
        <div class="service-content">
          <h3 class="normal">comfort and convenience</h3>
          <p class="small">Trust us to find your issue and fix it. Trust us to bring back your car as good as new. We are always just a click or call away! Car maintenance was never so easy and hassle free.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
{% endblock %}